.List {
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.Item + .Item {
    margin-left: 15%;
}
.ItemLink {
    font-size: 16px;
    line-height: 20px;
    color: #120F0F;
    transition: .3s ease;
    &:hover {
        transition: .3s ease;
        color: #4797C8;
    }
}
.ItemLinkActive {   
    color: #4797C8;
    transition: .3s ease;
}


